:root {
    --color-guardian-primary: #0087A980;
    --color-guardian-secondary: #5FBCD3FF;

    --color-warrior-primary: #C3830280;
    --color-warrior-secondary: #C19F55FF;

    --color-engineer-primary: #874D2480;
    --color-engineer-secondary: #CE7F4BFF;

    --color-ranger-primary: #64931A80;
    --color-ranger-secondary: #94C34AFF;

    --color-thief-primary: #8B3F4980;
    --color-thief-secondary: #89676DFF;

    --color-elementalist-primary: #BB0B1A80;
    --color-elementalist-secondary: #F5404FFF;

    --color-mesmer-primary: #8700A980;
    --color-mesmer-secondary: #D42AFFFF;

    --color-necromancer-primary: #02574680;
    --color-necromancer-secondary: #17824FFF;

    --color-revenant-primary: #660E0E80;
    --color-revenant-secondary: #A60000FF;
}
