# Database (sera utilisé plus tard avec Prisma/MariaDB)
DATABASE_URL="mysql://gw2user:gw2pass@db:3306/gw2builds"

# Secret pour signer les sessions / tokens côté serveur
SESSION_SECRET="changeme_dev_secret"

# Mode
NODE_ENV="development"
NUXT_PORT=3000
NUXT_HOST=0.0.0.0
